<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Application</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel='stylesheet' href='/stylesheets/style.css' type="text/css"/><!-- nombre de la carpeta publica(public) stylesheets/nombre de la hoja-->
    <!--<script type="text/javascript" src="javascripts/buscador.js"></script>  lista nombre de la carpeta publica(public) javascrpts/monbrede la hoja-->

</head>
<body>
    
    <!-- Header -->
        <header id="header">
            <nav class="navbar navbar-expand navbar-light bg-light">
                <div class="nav navbar-nav">
                     <ul>
                      <li><a href="/">Inicio </a></li>
                      <li><a href="/libros">Libros</a></li>
                      <li><a href="/nosotros">Nosotros</a></li>
                      <li><a href="/crear">Crear</a></li>
                      <li><a href="/contactos">Contactos</a></li>
                      <li><a href="/sucursales">Sucursales</a></li>
                    </ul>  
                </div>
            </nav>
           
        </header>
    <!-- /Header -->
